@import "font.css";

a.selfref {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.photos {
    display: flex;
    justify-content: space-evenly;
}

.photos a {
    width: 15%;
}

.photos a img {
    width: 100%;
}

body {
    font-family: 'JetBrains Mono';
    margin: 0px;
    background: black;
    color: white;
}

h1 {
    margin: 10px;
}

#canvas {
    width: 100%;
    max-width: 1200px;
    background: white;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

article {
    width: 50%;
    background-color: #33333d;
    border: 2px solid #44444d;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 1400px) {
    article { width: 60%;}
}

@media (max-width: 1200px) {
    article { width: 70%;}
}

@media (max-width: 1000px) {
    article { width: 80%;}
}
