#linkje{
    float: right;
    clear: right;
    margin: 20px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #ec3b13;
    border: #d30000 3px solid;
    border-radius: 10px;
}
#linkje:hover{
    background-color: #f5680a;
}
#locatie{
    float: right;
    border: 3px black solid;
    box-shadow: 10px 10px #6a6f7e;
    margin-right: 30px;
}
#tafel{/*vliegende tafel(mischien moet hier een touw)*/
    display: grid;
    grid-template-rows: 200px;
    width: 250px;
    height: 450px;
    border: 3px black solid;
    float: right;
}
#tafel img{
    margin-top: 200px;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    transition: 1s;
}
#tafel p{
    grid-row: 1;
    grid-column: 1;
    padding: 50px;
    margin-top: 200px;
}
#tafel:hover img{
    margin-top: 0;
    grid-row: 1;
    grid-column: 1; 
}
#fototje{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: auto;
}
#fototje img{
    width: 200px;
    height: 200px;
}

html{
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #5BC0BE;
}
article{
    background-color: white;
    border-radius: 10px;
    margin: 40px 100px;
    border: 3px black solid;
    padding: 10px;
    height: 500px;
}
header a{
    height: 50px;
    background-color: #0B132B;
    display: block;
    text-decoration: none;
}
header h1{
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    top: 5px;
}
nav ul{/*navigatie bar*/
    width: 	100vw;
    margin: 0;
    padding: 0;
}
nav li{
    display: contents;
}
nav a{
    height: 20px;
    width: calc(100%/3);
    text-align: center;
    float: left;
    transition: 0.25s;
    display: block;
    text-decoration: none;
    background-color: #27345a;
    color: white;
    border-bottom: 3px #4b678a solid;
}
nav a:hover{
    background-color: #4b678a;
    height: 30px;
    border-bottom: 3px #27345a solid;
}